.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 80px;
  background-color: rgb(240, 240, 240);
    margin-top: 0px;
    height: 5rem;
}

.nav-links-container{
  display: flex;
  flex-direction: column;
}

.nav-links{
  padding: 0px 15px;
}

.name-header{
  font-size: 16px;
    width: 303px;
}
.name-logo{
  width: 50px; 
}
.name-container{
  margin-left: 75px;
}

.resume, .menu-item{
  margin-right: 31px;
  text-decoration: none;
    color: black;
    font-weight: 600;
}


 @media screen and (min-width: 700px) {
   .name-logo{
display: none;
   }
  
}
@media screen and (max-width: 699px) {
  .name-text{
display: none;
  }
 
}

@media screen and (min-width: 1000px) {
  .hamburger-menu{
    display: none;
  }
  .resume{
    display: none;
  }

}

@media screen and (max-width: 999px) {
  .menu-item{
    display: none;
  }

}