.project-img{
  height: 13rem;
  width: 20rem;
}
.project-img-container{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    gap: 1rem 1rem;
    width: 6rem;
    justify-items: center;
}

.projects-container{
  margin: 2rem;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-header{
  font-size: 12vw;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    pointer-events: none;
    flex: 1 100%;
    top: 2rem;
    left: 1rem;
}
.project-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card-body{
  padding: 20px;
  flex: 1 1 auto;
}

.card-title{
  margin-bottom: .75rem;
  font-size: 1.25rem;
}

.card-text{
  margin-bottom: 1rem;
}

.app-button, 
.code-button{
  display: inline-block;
  font-weight: 550;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: rgb(148, 190, 199);
    border: 1px solid #000000;
    color: #FFFFFF;
    margin: 1%;
    text-decoration: none;
}